.col,
.col-12,
.col-lg-4 {
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    padding: 0 13px;
}

i {
    font-size: 20px;
}

.title {
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 0;
}

#mobileSearch {
    width: 100%;
    position: absolute;
    top: calc(100% - 45px);
    left: 0px;
    display: none;
    justify-content: center;
    z-index: 10;
    form {
        width: 70%;
        display: flex;
    }
}

.nav-item {
    margin-right: 50px;
}
